.card-link-wrapper {
  width: 100%;
  transition: transform 300ms ease;
}

.card-wrapper {
  background-color: var(--color-white);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 14.56rem;
  width: 100%;
  height: 100%;
}

.card-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14.56rem;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.card-content div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recipespan {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--orange-color);
}

.card-title {
  font-size: 1.18rem;
  width: 100%;
  font-weight: 700;
  color: var(--black-color);
  font-family: var(--font-source);
  flex: 0 1 auto;
}

.card-meal-type {
  font-weight: 700;
  color: var(--gray-light-color);
  font-size: 0.8rem;
  place-self: end;
}
@media screen and (min-width: 550px) {
  .card-link-wrapper:hover {
    transform: scale(1.07);
  }
}

@media screen and (max-width: 550px) {
  .card-wrapper {
    flex-direction: row;
    padding-left: 50%;
    padding-top: 0;
  }
  .card-image-wrapper {
    height: 100%;
    width: 50%;
  }
  .card-title {
    font-size: 1rem;
  }
}
