article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imagerecipe {
  width: 100%;
  max-width: 207px;
  border-radius: 50%;
}

h3 {
  text-align: center;
  color: var(--gray-dark-color);
  font-weight: 700;
}
