.recipes-list {
  background-color: var(--black-color);
  flex: 1 1 auto;
  display: flex;
}

.recipes__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.message__container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-message {
  font-size: 1.5rem;
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .recipes__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 780px) {
  .recipes__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .recipes__container {
    grid-template-columns: 1fr;
  }
}
