@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* font-family: "Inter", sans-serif;
  font-family: "Source Serif Pro", serif; */
  --font-inter: "Inter", sans-serif;
  --font-source: "Source Serif Pro", serif;
  --color-white: #fff;
  --orange-color: #f93f23;
  --gray-light-color: #a1a1a1;
  --gray-light-text-color: #cccccc;

  --gray-color: #555555;
  --gray-dark-color: #333333;
  --black-color: #181818;
}

/* ////////////////RESET/////////////////////// */
html,
body {
  line-height: 1;
  height: 100%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  height: auto;
  vertical-align: top;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-inter);
  font-weight: 400;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.social {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 2px;
  background-color: var(--gray-light-text-color);
}

.blocked {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 25px;
  }
}
